<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Histórico do Purificador
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/purifier">Purificadores</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box box-primary">
        <div class="col form-control top">
          <div class="row">
            <div class="col col-md-4">
              <form action="/historicP/create" method="get">
                <input type="submit" name="btnpurifier" class="btn btn-success" value="Cadastrar Histórico">
                <a href="/purifier?pg=1" class="btn btn-warning">Voltar</a>
                <input type="text" name="purifier_id" value="{if="$purifiers != NULL"}{$purifiers[0].purifier_id}_{$purifiers[0].serialnumber}{/if}" hidden>
              </form>
            </div>
         
          </div>
        </div>
      </div>
      <div id="msg{if="$msg.state == 'SUCCESS'"}-success{else}-danger{/if}" 
            class="box box-{if="$msg.state == 'SUCCESS'"}-success{else}danger{/if}" 
            {if="$msg.state != 'SUCCESS' && $msg.state != 'ERROR'"}readonly hidden{/if}>
        <div class="msg"><input type="text" class="form-control msg-{if="$msg.state == 'SUCCESS' "}success alert-success{else}danger alert-danger{/if}" name="msg" value="{$msg.msg}" readonly ></div>
        <div class="msg"><textarea class="form-control" name="err" id="err" rows="3" {if="$msg.err != NULL"}hidden{/if} readonly>{$msg.err}</textarea></div>
      </div>
      <div class="box box-primary" {if="$purifiers[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="row">
          <div class="col col-md-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {$i = 1}
                {loop="$pgs"}
                <li><a href="purifier?pg={$i}{if="$pgs.list.daydate"}&daydate={$pgs.list.daydate}{/if}{if="$pgs.list.date_fim"}&date_fim={$pgs.list.date_fim}{/if}{if="$pgs.list.limit"}&limit={$pgs.list.limit}{/if}{if="$pgs.list.search"}&search={$pgs.list.search}{/if}">{$i++}</a></li>
                {/loop}
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="box box-primary" {if="$purifiers[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="box-body no-padding">
          <table class="table table-straped">
            <thead class="thead-dark">
              <tr class="alert-primary">
                <th>Nº Série</th>
                <th>Local</th>
              </tr>
            </thead>
            <tbody>
              {if="$purifiers[0]['historic_id'] != NULL"}
              <tr>
                <td>{$purifiers[0]['serialnumber']}</td>
                <td>{$purifiers[0]['deslocation']}</td>
              </tr>
              {/if}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box box-primary" {if="$purifiers[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="box-body no-padding">
          <table class="table table-straped">
            <thead class="thead-dark">
              <tr class="alert-warning">
                <th>Nº Série</th>
                <th>Data Próxima Manutenção</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              {if="$purifiers[0]['historic_id'] != NULL"}
              {loop="$purifiers"}
              <tr>
                <td>{$value.serialnumber}</td>
                <td>{$value.daydate}</td>
                <td>
                  <a href="/historicP/{if="$purifiers[0]['historic_id']"}{$value.historic_id}{/if}" class="btn btn-primary btn-xs" title="Editar Histórico"><i class="fa fa-edit"></i></a>
                  <a href="/historicP/{if="$purifiers[0]['historic_id']"}{$value.historic_id}_{$value.serialnumber}{/if}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs" title="Excluir Histórico"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              {/loop}{/if}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box box-primary" {if="$purifiers[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="row">
          <div class="col col-md-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {$i = 1}
                {loop="$pgs"}
                <li><a href="purifier?pg={$i}{if="$pgs.list.daydate"}&daydate={$pgs.list.daydate}{/if}{if="$pgs.list.date_fim"}&date_fim={$pgs.list.date_fim}{/if}{if="$pgs.list.limit"}&limit={$pgs.list.limit}{/if}{if="$pgs.list.search"}&search={$pgs.list.search}{/if}">{$i++}</a></li>
                {/loop}
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
</div>
  