<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="box box-success title" style="background-color: #d5f8da;">
        <h4>
          Editção de Extintor
        </h4>
      </div>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/fireexting">Extintores</a></li>
        <li class="active"><a href="/fireexting/create">Cadastrar</a></li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
    
      <div class="row">
          <div class="col-md-12">
            <div id="msg{if="$msg.state == 'SUCCESS'"}-success{else}-danger{/if}" 
                  class="box box-{if="$msg.state == 'SUCCESS'"}-success{else}danger{/if}" 
                  {if="$msg.state != 'SUCCESS' && $msg.state != 'ERROR'"}readonly hidden{/if}>
              <div class="msg"><input type="text" class="form-control msg-{if="$msg.state == 'SUCCESS' "}success alert-success{else}danger alert-danger{/if}" name="msg" value="{$msg.msg}" readonly ></div>
              <div class="msg"><textarea class="form-control" name="err" id="err" rows="3" {if="$msg.err != NULL"}hidden{/if} readonly>{$msg.err}</textarea></div>
            </div>
            <div class="box box-success">
            <!-- form start -->
            
            <form role="form" action="/fireexting/{$fireexting.fireexting_id}" method="post" enctype="multipart/form-data">
             
              <div class="box-body">
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="daydate">Data do Dia</label>
                    <input type="text" class="form-control" id="daydate" name="daydate" value="{$fireexting.daydate}" onChange="replaceSlash(daydate)" >
                  </div>
                </div>
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="dayhour">Hora do Dia</label>
                    <input type="text" class="form-control" id="dayhour" name="dayhour" value="{$fireexting.dayhour}">
                  </div>
                </div>
                
                <div class="col col-md-2">
                  <div class="form-group">
                      <label for="location_id">Localização</label>
                      <select class="form-control" name="location_id" id="location_id" required>
                        {loop="$locations"}
                        <option value="{$value.location_id}" {if="$value.location_id == $fireexting.location_id"}selected{/if}>{$value.deslocation}</option>
                        {/loop}
                      </select>
                  </div>
                </div>
                <div class="col col-md-3">
                    <div class="form-group">
                        <label for="local_id">Local</label>
                        <select class="form-control" name="local_id" id="local_id" required>
                          {loop="$locais"}
                          <option value="{$value.local_id}" {if="$value.local_id == $fireexting.local_id"}selected{/if}>{$value.deslocal}</option>
                          {/loop}
                        </select>
                    </div>
                </div>
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="tipe">Tipo</label>
                    <input type="text" class="form-control" name="tipe" maxlength="20" id="tipe" value="{$fireexting.tipe}" onKeyUp="convertLowToUpper(tipe)" required>
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="weight">Peso</label>
                    <input type="text" class="form-control" name="weight" maxlength="10" id="weight" value="{$fireexting.weight}" onKeyUp="convertLowToUpper(weight)" required>
                  </div>
                </div>
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="capacity">Capacidade</label>
                    <input type="text" class="form-control" name="capacity" maxlength="10" id="capacity" value="{$fireexting.capacity}" onKeyUp="convertLowToUpper(capacity)" required>
                  </div>
                </div>
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="rechargedate">Data de Recarga</label>
                    <input type="text" class="form-control" name="rechargedate" id="rechargedate" value="{$fireexting.rechargedate}" onChange="replaceSlash(rechargedate)" required>
                  </div>
                </div>
               
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <input type="submit" id="fireexting" class="btn btn-success" value="Atualizar Extintor">
                
                <a href="/fireexting?limit=10" class="btn btn-warning">Voltar</a>
                
              </div>
            </form>
          </div>
          </div>
      </div>
    
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    