<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edição de Plano Anual de Manutenção
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/anualplan">Plano de Manutenção</a></li>
            <li class="active">Edição</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <!-- form start -->
                    <form role="form" action="/anualplan/{$anualplan.anualplan_id}" method="post">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col col-md-2">
                                                <div class="form-group"> 
                                                    <label for="jan">LEGENDA</label>
                                                </div>
                                            </div>
                                            <div class="col col-md-2">
                                                <div class="form-group"> 
                                                    <label>Antecipado</label>
                                                    <div class="antecipado">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                                </div>
                                            </div>
                                            <div class="col col-md-2">
                                                <div class="form-group"> 
                                                    <label>Programado</label>
                                                    <div class="programado">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                                </div>
                                            </div>
                                            <div class="col col-md-2">
                                                <div class="form-group"> 
                                                    <label>Efetuado</label>
                                                    <div class="efetuado">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                                </div>
                                            </div>
                                            <div class="col col-md-2">
                                                <div class="form-group"> 
                                                    <label>Atrasado</label>
                                                    <div class="atrasado">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                                </div>
                                            </div>
                                            <div class="col col-md-2">
                                                <div class="form-group"> 
                                                    <label>Não Executado</label>
                                                    <div class="naoexecutou">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-success">
                                    <div class="box-body">
                                        <div class="col col-md-2">
                                            <div class="form-group">
                                            <label for="yyear">Ano</label>
                                            <input type="text" class="form-control" name="yyear" id="yyear" value="{$anualplan.yyear}" autofocus="autofocus" required>
                                            </div>
                                        </div>
                                        <div class="col col-md-3">
                                            <div class="form-group">
                                                <label for="equipament_id">Equipamento</label>
                                                <select class="form-control" name="equipament_id" id="equipament_id" required>
                                                <option value=""></option>
                                                {loop="$equipaments"}
                                                <option value="{$value.equipament_id}" {if="$anualplan.equipament_id == $value.equipament_id"}selected{/if}>{$value.desequipament}</option>
                                                {/loop}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-md-3">
                                            <div class="form-group">
                                                <label for="location_id">Localização</label>
                                                <select class="form-control" name="location_id" id="location_id" required>
                                                <option value=""></option>
                                                {loop="$locations"}
                                                <option value="{$value.location_id}" {if="$anualplan.location_id == $value.location_id"}selected{/if}>{$value.deslocation}</option>
                                                {/loop}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-md-3">
                                            <div class="form-group">
                                                <label for="local_id">Local</label>
                                                <select class="form-control" name="local_id" id="local_id" required>
                                                <option value=""></option>
                                                {loop="$locais"}
                                                <option value="{$value.local_id}" {if="$anualplan.local_id == $value.local_id"}selected{/if}>{$value.deslocal}</option>
                                                {/loop}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="box-body">
                                        <div class="col col-md-3">
                                            <div class="form-group">
                                                <label for="person_id">Responsável</label>
                                                <select class="form-control" name="person_id" id="person_id" required>
                                                <option value=""></option>
                                                {loop="$responsables"}
                                                <option value="{$value.person_id}" {if="$anualplan.person_id == $value.person_id"}selected{/if}>{$value.responsable}</option>
                                                {/loop}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-md-3">
                                            <div class="form-group">
                                                <label for="frequency">Frequência</label>
                                                <input type="text" class="form-control" name="frequency" id="frequency" value="{$anualplan.frequency}" onkeyup="convertLowToUpper(frequency)" >
                                            </div>
                                        </div>
                                        <div class="col col-md-2">
                                            <div class="form-group"> 
                                                <label for="amonth">Mês</label>
                                                <select class="form-control" name="amonth" id="amonth" required>
                                                    <option value="1"  {if="$anualplan.amonth == 1"}selected{/if}>Janeiro</option>
                                                    <option value="2"  {if="$anualplan.amonth == 2"}selected{/if}>Fevereiro</option>
                                                    <option value="3"  {if="$anualplan.amonth == 3"}selected{/if}>Março</option>
                                                    <option value="4"  {if="$anualplan.amonth == 4"}selected{/if}>Abril</option>
                                                    <option value="5"  {if="$anualplan.amonth == 5"}selected{/if}>Maio</option>
                                                    <option value="6"  {if="$anualplan.amonth == 6"}selected{/if}>Junho</option>
                                                    <option value="7"  {if="$anualplan.amonth == 7"}selected{/if}>Julho</option>
                                                    <option value="8"  {if="$anualplan.amonth == 8"}selected{/if}>Agosto</option>
                                                    <option value="9"  {if="$anualplan.amonth == 9"}selected{/if}>Setembro</option>
                                                    <option value="10" {if="$anualplan.amonth == 10"}selected{/if}>Outubro</option>
                                                    <option value="11" {if="$anualplan.amonth == 11"}selected{/if}>Novembro</option>
                                                    <option value="12" {if="$anualplan.amonth == 12"}selected{/if}>Dezembro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-md-2">
                                            <div class="form-group">
                                                <label for="dtprevision">Data Previsão</label>
                                                <input type="text" class="form-control" name="dtprevision" id="dtprevision" value="{$anualplan.dtprevision}" onkeyup="replaceSlash(dtprevision)" onChange="insertcolor(dtprevision,rstatus)" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="col col-md-5">
                                            <div class="form-group"> 
                                                <div class="col col-md-2">
                                                    <label for="rstatus">Execução</label>
                                                </div>
                                                <div class="col col-md-4">
                                                    <input type="radio" name="rstatus" id="rstatus" value="0" {if="$anualplan.rstatus == 0"}checked{/if} onclick="insertcolor(dtprevision,rstatus)"> Programado
                                                </div>
                                                <div class="col col-md-3">
                                                    <input type="radio" name="rstatus" id="rstatus" value="1" {if="$anualplan.rstatus == 1"}checked{/if} onclick="insertcolor(dtprevision,rstatus)"> SIM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </div>
                                                <div class="col col-md-3">
                                                    <input type="radio" name="rstatus" id="rstatus" value="2" {if="$anualplan.rstatus == 2"}checked{/if} onclick="insertcolor(dtprevision,rstatus)"> NÃO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <div class="box box-primary">
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col col-md-2">
                                                <button type="submit" id="btnSubmit" class="btn btn-success">Atualizar</button>
                                                <a href="/anualplan?limit=10" class="btn btn-warning">Voltar</a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
