<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Histórico do Hidrante
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/hydrant">Hidrantes</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box box-primary">
        <div class="col form-control top">
          <div class="row">
            <div class="col col-md-4">
              <form action="/historicH/create" method="get">
                <input type="submit" name="btnhydrant" class="btn btn-success" value="Cadastrar Histórico">
                <a href="/hydrant?pg=1" class="btn btn-warning">Voltar</a>
                <input type="text" name="hydrant_id" value="{if="$hydrants != NULL"}{$hydrants[0]['hydrant_id']}{/if}" hidden>
              </form>
            </div>
         
          </div>
        </div>
      </div>
      <div id="msg{if="$msg.state == 'SUCCESS'"}-success{else}-danger{/if}" 
            class="box box-{if="$msg.state == 'SUCCESS'"}-success{else}danger{/if}" 
            {if="$msg.state != 'SUCCESS' && $msg.state != 'ERROR'"}readonly hidden{/if}>
        <div class="msg"><input type="text" class="form-control msg-{if="$msg.state == 'SUCCESS' "}success alert-success{else}danger alert-danger{/if}" name="msg" value="{$msg.msg}" ></div>
      </div>
      <div class="box box-primary" {if="$hydrants[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="row">
          <div class="col col-md-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {$i = 1}
                {loop="$pgs"}
                <li><a href="hydrant?pg={$i}{if="$pgs.list.limit"}&limit={$pgs.list.limit}{/if}{if="$pgs.list.search"}&search={$pgs.list.search}{/if}">{$i++}</a></li>
                {/loop}
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="box box-primary" {if="$hydrants[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="box-body no-padding">
          <table class="table table-straped">
            <thead class="thead-dark">
              <tr class="alert-primary">
                <th>Localização</th>
                <th>Local</th>
                <th>Tipo</th>
                <th>Número</th>
              </tr>
            </thead>
            <tbody>
              {if="$hydrants[0]['historic_id'] != NULL"}
              <tr>
                <td>{$hydrants[0]['deslocation']}</td>
                <td>{$hydrants[0]['deslocal']}</td>
                <td>{$hydrants[0]['tipe']}</td>
                <td>{$hydrants[0]['idnumber']}</td>
              </tr>
              {/if}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box box-primary" {if="$hydrants[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="box-body no-padding">
          <table class="table table-straped">
            <thead class="thead-dark">
              <tr class="alert-warning">
                <th>Data</th>
                <th>Chave</th>
                <th>Mangeuira</th>
                <th>Esguicho</th>
                <th>Pintura</th>
                <th>Alarme</th>
                <th>Vidro</th>
                <th>Trava</th>
                <th>Registro</th>
                <th>Sinalização</th>
                <th>Obstrução</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              {if="$hydrants[0]['historic_id'] != NULL"}
              {loop="$hydrants"}
              <tr>
                <td>{$value.daydate}</td>
                <td>{if="$value.idkey == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.hose == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.squirt == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.painting == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.alarmcentral == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.glass == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.inlock == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.record == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.signaling == 0"}OK{else}NÃO OK{/if}</td>
                <td>{if="$value.obstruction == 0"}OK{else}NÃO OK{/if}</td>
                <td>
                  <a href="/historicH/{if="$hydrants[0]['historic_id']"}{$value.historic_id}{/if}" class="btn btn-primary btn-xs" title="Editar Histórico"><i class="fa fa-edit"></i></a>
                  <a href="/historicH/{if="$hydrants[0]['historic_id']"}{$value.historic_id}{/if}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs" title="Excluir Histórico"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              {/loop}{/if}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box box-primary" {if="$hydrants[0]['historic_id'] == NULL"}hidden{/if}>
        <div class="row">
          <div class="col col-md-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {$i = 1}
                {loop="$pgs"}
                <li><a href="hydrant?pg={$i}{if="$pgs.list.limit"}&limit={$pgs.list.limit}{/if}{if="$pgs.list.search"}&search={$pgs.list.search}{/if}">{$i++}</a></li>
                {/loop}
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
</div>
  