<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="box box-success title" style="background-color: #d5f8da;">
        <h4>
          Edição de Histórico de Extintor
        </h4>
      </div>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/historicE/{$historic.fireexting_id}">Histórico</a></li>
        <li class="active"><a href="/historicEU/{$historic.historic_id}">Edição</a></li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
    
      <div class="row">
          <div class="col-md-12">
            <div id="msg{if="$msg.state == 'SUCCESS'"}-success{else}-danger{/if}" 
                  class="box box-{if="$msg.state == 'SUCCESS'"}-success{else}danger{/if}" 
                  {if="$msg.state != 'SUCCESS' && $msg.state != 'ERROR'"}readonly hidden{/if}>
              <div class="msg"><input type="text" class="form-control msg-{if="$msg.state == 'SUCCESS' "}success alert-success{else}danger alert-danger{/if}" name="msg" value="{$msg.msg}" readonly ></div>
              <div class="msg"><textarea class="form-control" name="err" id="err" rows="3" {if="$msg.err != NULL"}hidden{/if} readonly>{$msg.err}</textarea></div>
            </div>
            <div class="box box-success">
            <!-- form start -->
            
            <form role="form" action="/historicE/{$historic.historic_id}" method="post" enctype="multipart/form-data">
              <input type="text" name="fireexting_id" value="{$historic.fireexting_id}" hidden>
              <div class="box-body">
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="daydate">Data do Dia</label>
                    <input type="text" class="form-control" id="daydate" name="daydate" value="{$historic.daydate}" onChange="replaceSlash(daydate)" >
                  </div>
                </div>
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="htrigger">Gatilho</label>
                    <select class="form-control" name="htrigger" id="htrigger">
                      <option value="0" {if="$historic.htrigger"} selected{/if}>OK</option>
                      <option value="1" {if="$historic.htrigger"} selected{/if}>NÃO OK</option>
                    </select>
                  </div>
                </div>
                
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="hose">Mangote</label>
                    <select class="form-control" name="hose" id="hose">
                      <option value="0" {if="$historic.hose"} selected{/if}>OK</option>
                      <option value="1" {if="$historic.hose"} selected{/if}>NÃO OK</option>
                    </select>
                  </div>
                </div>
                <div class="col col-md-2">
                  <label for="diffuser">Difusor</label>
                    <select class="form-control" name="diffuser" id="diffuser">
                      <option value="0" {if="$historic.diffuser"} selected{/if}>OK</option>
                      <option value="1" {if="$historic.diffuser"} selected{/if}>NÃO OK</option>
                    </select>
                </div>
              
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="painting">Pintura</label>
                    <select class="form-control" name="painting" id="painting">
                      <option value="0" {if="$historic.painting"} selected{/if}>OK</option>
                      <option value="1" {if="$historic.painting"} selected{/if}>NÃO OK</option>
                    </select>
                  </div>
                </div>
                <div class="col col-md-2">
                  <div class="form-group">
                    <label for="hydrostatic">Teste Hidrostático</label>
                    <select class="form-control" name="hydrostatic" id="hydrostatic">
                      <option value="0" {if="$historic.hydrostatic"} selected{/if}>OK</option>
                      <option value="1" {if="$historic.hydrostatic"} selected{/if}>NÃO OK</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="col col-md-4">
                  <div class="form-group">
                    <label for="hothers">Outros</label>
                    <input type="text" class="form-control" name="hothers" id="hothers" value="{$historic.hothers}" onKeyUp="convertLowToUpper(hothers)" required>
                  </div>
                </div>
                               
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <input type="submit" id="historic" class="btn btn-success" value="Aualizar Histórico">
               <a href="/historicE?fireexting_id={$historic.fireexting_id}&limit=10" class="btn btn-warning">Voltar</a>
              </div>
            </form>
          </div>
          </div>
      </div>
    
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    